:root{
    --azul-escuro: #425261;
    --marrom: #957d6b;
    --bege: #d8c6b0;
    --azul: #6298bb;
    --verde-escuro:#049c7b;
    --verde1:#3cac8c;
    --verde2: #54b097;
    --verde3:#7cbcac;
    --verde4:#b0dbd0;
    --verde5: #99bfbf;
}


.div_CardHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}


.form_CardBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.form_input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    box-shadow: none;

}

.div_grindBody{
    display: flex;
    align-items: center;
}


.partBoletim{
    ul {
        list-style-type: none; 
        padding: 0; 
        border: 1px solid #333; 
        border-radius: 8px;
    }
    
    h4 {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        background-color: #f0f0f0;
        border-bottom: 2px solid #333; 
    }
    
    li {
        padding: 10px;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        background-color: #fafafa;
    }
    
    li:last-child {
        border-bottom: none;
    }
}


.partBoletim_F_M{
    text-align: center;
    align-items: center;
}

.display{
    display: flex;

}

.input100{
    width: 100%;

}

.ButtonPDF{
    display: inline-block; 
    width: auto;          
    padding: 5px;     
    margin-left: auto;
}