:root{
    --azul-escuro: #425261;
    --marrom: #957d6b;
    --bege: #d8c6b0;
    --azul: #6298bb;
    --verde-escuro:#049c7b;
    --verde1:#3cac8c;
    --verde2: #54b097;
    --verde3:#7cbcac;
    --verde4:#b0dbd0;
    --verde5: #99bfbf;
}


.div_CardHeader {
    display: flex;
    align-items: center;
    gap: 30px;
}


.form_CardBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.form_input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    box-shadow: none;

}

.div_grindBody{
    display: flex;
    align-items: center;
    gap: 5px;
}